fastapi
uvicorn
uvicorn[standard]
psycopg2-binary
python-dotenv
sqlalchemy
pydantic
pydantic-settings
boto3
python-multipart
pandas
xlrd==2.0.1
requests
supabase
tenacity>=9.1.0
pycryptodome>=3.23.0
scikit-learn